html {
	font-size: 100%;
}

.navbar-brand {
	font-size: 120%;
}

section{
	padding: 30px 10px;
	overflow: hidden;
}


div#profileImg{
	background: url(https://via.placeholder.com/150x150);
	width: 150px;
	height: 150px;
	margin-top: 150px;
	margin: auto;
}